<!DOCTYPE html>
<html>
    <head>
      <title> Blog It</title>
      <!--this is to include application.css-->
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      
    </head>
    <body>
        <!--navigation bar start-->
        <header class="navbar navbar-fixed-top navbar-inverse">
            <div class="container">
                <%= link_to "Blog It", welcome_index_path, id: "logo" %>
                <nav>
                    <ul class="nav navbar-nav navbar-right">
                        <li><%= link_to "Home", welcome_index_path %></li>
                        <li><%= link_to "Submit your Post", controller: 'items'%></li>
                        <li><%= link_to "Other Links", welcome_link_path %></li>
                    </ul>
                </nav>
            </div>
        </header>

       <!--start of list of posts-->
        <h1>Listing Todo Items</h1>
      
          <%= @items.each do |item| %>
            <!--<tr class="well">-->
              <div class="well title_bg"><%= item.title %></div>
              
              <div class="well post_text_bg"><%= item.notes %></div>
              
              <div class="well btns">
                <!--displays the number of votes the topic has-->
                <div class=" well" id="num_like"> <%= pluralize(item.votes.count, "") %>  </div>
                
                <!--creates the appropriate URL for the action we want to invoke-->
                 <div class="well like_btn"><%= link_to 'like', upvote_item_path(item), method: :post %></div>
                 
                <!--<td><%= link_to 'Show', item_path(item) %></td>-->
                
                <div class="well edit_btn"><%= link_to 'Edit', edit_item_path(item), {:style=>'color: #cccc08;'} %></div>
                
                <div class="well del_btn"><%= link_to 'Delete', item_path(item), method: :delete, style: 'color:#BF3F3F;'%></div>
              <!--</tr>-->
              </div>
          <% end %>
        <!--end of post listing-->
        
        <!--start of footer-->
        <footer class="footer">
          
          <small>
            This page was made with a lot of hard work and sleepless nights</a>
            by <a href="#">Carlos Beltran</a>
          </small>
          
          <nav>
            <ul>
              <li><%= link_to "About",   '#' %></li>
              <li><%= link_to "Contact", '#' %></li>
              <li><a href="http://www.nydailynews.com/" target="_blank">News</a></li>
            </ul>
          </nav>
          
        </footer>
        <!--end of footer-->
        
    </body>
  </html>