<!--make a form for the new item resource so that people can enter in the info about their new todo list item.-->
<!--notice we also have to tell the form what url to redirect to once we've submitted the form.-->

<!--<h1>New Item</h1>-->
<!--<%= form_for :item, url: items_path do |f| %>-->
<!--  <p>-->
<!--    <%= f.label :title %><br>-->
<!--    <%= f.text_field :title %>-->
<!--  </p>-->
 
<!--  <p>-->
<!--    <%= f.label :notes %><br>-->
<!--    <%= f.text_area :notes %>-->
<!--  </p>-->
 
<!--  <p>-->
<!--    <%= f.submit %>-->
<!--  </p>-->
<!--<% end %>-->
<!--===================================================================================================================-->
<h1>Thank you for your like!</h1>

<!--this is to surf through pages, like <a> tags in html-->
<%= link_to 'Back to List', items_path %>